<!-- Author: Jonathan Fuhrman, Alec Marcus -->
<!-- Page: emailconfirmation.html -->
<!-- Objective: This page is the design and structure of the confirmation page which alerts the user to check their email after they sign up
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation Email</title>
    <!-- This link imports the Bootstrap CSS stylesheet from the CDN. -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!-- This link imports another stylesheet named bootstrap.css. -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <!-- This script imports the Bootstrap JavaScript library. -->
        <script src="js/bootstrap.js"></script>
         <!-- This link imports a stylesheet named style.css from the static folder using Flask's url_for function. -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
         <!-- This link imports another stylesheet named home.css from the static folder. -->
        <link rel="stylesheet" href="/static/home.css">
        
        <style>
            body {
                background: linear-gradient(to right, rgb(255, 106, 0), rgb(249, 170, 90));
            }
        
            .gradient-custom {
                background: linear-gradient(to right, rgb(255, 106, 0), rgb(249, 170, 90));
            }
        </style>
        
        </head>
        
        <body>
        
            <center>
                <!-- This <div> element is styled as a Bootstrap card element. -->
                <div class="card bg-dark" style="width: 70%; margin-top: 15%; width: 50%;">
                     <!-- This <div> element is styled as the header of the card element. -->
                    <div class="card-header" style="color: white;">
                        Email Confirmation
                    </div>
                    <!-- This <div> element is styled as the body of the card element. -->
                    <div class="card-body">
                        <!-- This <h5> element is styled as the title of the card element. -->
                        <h5 class="card-title" style="color: white;">An email is on the way!</h5>
                        <p class="card-text" style="color: white;">Make sure to check your email and follow the instructions to
                            access your account.</p>
                    </div>
                </div>
            </center>
        
        </body>
        
        </html>