<!-- Author: Jonathan Fuhrman, Alec Marcus, Matt Failoa -->
<!-- Page: email.html -->
<!-- Objective: This page is the design and structure of the email sent to a user after he signs up
-->

<!-- This is an HTML document that contains email content being sent after user signs up-->
<!-- It starts with the standard html tags -->
<!DOCTYPE html>
<html lang="en">
  <!-- The head section includes various metadata such as character encoding, viewport, title and so on -->
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>

</head>
<body>
  <!-- The body section includes email content wrapped inside a div tag -->
   <div style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',
   Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;width:600px;height:100%;background-color:#fafafa;padding:15px">
     <!-- The topmost section of email includes a logo/image wrapped inside a div tag -->

   <div style="background-color: #F96800;">
     <center><img src="cid:lock" width="220" height="65" alt="sb image"/></center>
   </div>  
 <!-- This section includes the main content of email -->
   <div style="color:#3c3c3c;margin:10px auto;padding:15px">
     <p style="font-size:16px;font-weight:400;line-height:24px;margin:0 0 20px 0;text-align:center;color:#1b1b26">
       Hi <b>{{ first_name }} {{ last_name }}</b>, thank you for creating a Study Buddy account. <br>Please click the link to verify your email. <br> If you did not create an account, please ignore this email.
     </p>
     <!-- This section includes a button/link for email verification -->
     <div style="margin:24px 193px 0px 146px">
       <center><a href={{url}}><button 
            type="button" style="font-size:14px;font-weight:500;border:0;background-color:#F96800;font-weight:500;
              line-height:27px;width:230px;height:49px;text-align:center;color:white;margin:10px 24px 11px 24px;
                border-radius:4px"><span class="il">Confirm</span> Your <span class="il">Email</span></button></a></center>
     </div>
      <!-- This section includes a text with a hyperlink for support contact -->
       <p style="font-size:16px;font-weight:400;text-align:center;color:#1b1b26">
         Questions? <a style="color:#007fad" href="https://sustudybuddy.com/#contact" target="_blank">Contact Support</a>
       </p>
   </div>
</div>


</body>
</html>

