<!-- Author: Jonathan Fuhrman, Talal Hakki-->
<!-- Page: removebuddy.html -->
<!-- Objective: design and structure of the confirmation page in which the user removes or doesn't a connection
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- This sets the character encoding to UTF-8 -->
    <meta charset="UTF-8">
    <!-- This sets the compatibility mode for Internet Explorer -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- This sets the viewport width to the device's width -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- This sets the title of the document to "Remove Buddy" -->
    <title>Remove Buddy</title>
     <!-- This links to the Bootstrap CSS file hosted on a CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!-- This links to the Bootstrap CSS file hosted locally -->
    
    <link rel="stylesheet" href="css/bootstrap.css">
     <!-- This loads the Bootstrap JavaScript file -->
    <script src="js/bootstrap.js"></script>
      <!-- This links to the stylesheet named "style.css" in the "static" directory -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    
    <link rel="stylesheet" href="/static/home.css">
    
    
    <!-- style -->
    <style>
        body {
            background: linear-gradient(to right, rgb(255, 106, 0), rgb(249, 170, 90));
        }

        .gradient-custom {
            background: linear-gradient(to right, rgb(255, 106, 0), rgb(249, 170, 90));
        }
    </style>

</head>
<body>

    <center>
         <!-- This creates a card with a dark background color, a width of 70%, a top margin of 15%, and a width of 50% -->
        <div class="card bg-dark" style="width: 70%; margin-top: 15%; width: 50%;">
            <!-- This sets the text color of the card header to white and adds the text "Remove Connection" -->
            <div class="card-header" style="color: white;">
                Remove Connection
            </div>
            <div class="card-body">
                <!-- This displays the first and last name of the buddy and the course they're interested in studying -->
                <h5 class="card-title" style="color: white;"> {{br.sender.first_name}} {{br.sender.last_name}}</h5>
                    <p class="card-text" style="color: white;"> Course: {{br.study_interest.course.subject_code}} {{br.study_interest.course.course_number}} {{br.study_interest.course.course_name}}</p>
                     <!-- This adds a confirmation message and a form with a remove button and a don't remove button -->
                <h5 class="card-title" style="color: white;">Are you sure you want to remove this buddy?</h5>
                    <form method="POST" action="">
                    
                        {{ form.hidden_tag() }}
                        {{ form.remove_but }}
                        {{ form.dont_remove_but }}
                    
                    </form>
            </div>
        </div>
    </center>
        
</body>
</html>

