<!-- Author: Jonathan Fuhrman, Matt Faiola, Aaron Alakkadan -->
<!-- Page: subjectselection.html -->
<!-- Objective: the design and structure of subject select, where the user selects the courses
     in which he is interested. 
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set character encoding and browser compatibility -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- Set viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Set page title -->
    <title>Subject Selection</title>
     <!-- Load Bootstrap stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!-- Load Bootstrap bundle javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous">
    
    </script>
      <!-- Load Bootstrap stylesheet again -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
         <!-- Load custom stylesheet -->
    <link rel="stylesheet" href="static/home.css">
          <!-- Load Boxicons stylesheet -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   <!-- Set custom styles for the page -->
<style>
    body {
        background: linear-gradient(to right, rgb(255, 106, 0), rgb(249, 170, 90));
    }

    .gradient-custom {
        background: linear-gradient(to right, rgb(255, 106, 0), rgb(249, 170, 90));
    }
</style>
</head>

<body>
      <!-- Set navigation bar -->
    <nav class="navbar navbar-expand-lg py-3 sticky-top bg-dark">
        <div class="container-fluid">
    
            <a class="navbar-brand" href="{{url_for('dashboard.dashboard')}}">
                <img src="{{url_for('static', filename='logo-study-buddy.png')}}" , width="220" height="65">
            </a>
     <!-- Set toggle button for responsive design -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
             <!-- Set collapsible content for responsive design -->
            <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 20%;">
                <button class="btn ms-4">
                    <a href="{{url_for('findstudybuddy.findBuddy')}}">Buddy Search</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('subjectselection.subjectSelection')}}">Subject Select</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('materialsview.materialsView')}}">View Materials</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('viewratings.viewRatings')}}">View Ratings</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('profile.profile')}}">Profile</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('auth.login')}}">Logout</a>
                </button>
            </div>
        </div>
    </nav>
    

    <div>
    <section class="h-100 gradient-custom"> <!-- sets background to gradient custom -->
        <div class="container">
            <div class="row ml-2 justify-content-center align-items-center">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card bg-dark shadow-2-strong" style="border-radius: 15px;">
                        <center>
                            <h3 style="color: white;">Your Courses</h3>
                        </center>
                        <center>
                            <form method="POST" action="" style="color: white;">
                                {{ form.hidden_tag() }}
                                <!-- displaying subject code, course name, course number.  -->
                                {% for s in si_all %} 
                                <div>
                                    <strong> {{s.course.subject_code}} {{s.course.course_number}} {{s.course.course_name}}</strong>
                                     - Pro Score: {{s.pro_score}}
                                </div>
                                <br>
                                {% endfor %}
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="container py-1 h-100">
            <div class="row ml-2 justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card bg-dark shadow-2-strong" style="border-radius: 15px;">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <div>
                                <label style="margin-left: 100px; margin-top: 50px; color: white;" for="subject_code"> <strong> Subject Code: </strong></label>
                                {{ form.subject_code }} <!-- the subject code -->
                            </div>
                            <div>
                                <label style="margin-left: 100px; color: white;" for="course_title"> <strong> Course Title: </strong></label>
                                {{ form.course_title }} <!-- course title dropdown -->
                            </div>
                            <div>
                                <p>
                                <p style="margin-left: 100px; color: white;"> <strong> Subject Code: </strong><span id="subject_code_display">{{ form.subject_code.data }}</span></p>
                                <p style="margin-left: 100px; color: white;"> <strong> Class: </strong><span id="course_title_display">{{ form.course_title.data }}</span></p>
                                </p>
                            </div>
                            <br> <!-- blank space -->
                            {{ course.name }} <!-- course name dropdown-->
                            <br> <!-- blank space -->
                            <!-- displaying the proficiency assessment  -->
                            <div style="margin-left: 100px; color: white;"> <strong> Proficiency Assessment </strong></div>
                            <div style="margin-left: 100px; color: white;">
                                {{ form.pro_ans1.label }}
                                {% for subfield in form.pro_ans1 %}       
                                    {{ subfield }}
                                    {{ subfield.label }}        
                                    {% endfor %}
                            </div>
                            <br> <!-- blank space -->
                            <div style="margin-left: 100px; color: white;">
                            {{ form.pro_ans2.label }}
                            {% for subfield in form.pro_ans2 %}       
                                {{ subfield }}
                                {{ subfield.label }}        
                                {% endfor %}
                            </div>
                            <br> <!-- blank space -->
                            <div style="margin-left: 100px; color: white;">
                            {{ form.pro_ans3.label }}
                            {% for subfield in form.pro_ans3 %}       
                                {{ subfield }}
                                {{ subfield.label }}        
                                {% endfor %}
                            </div>
                            <br> <!-- blank space -->
                            <center>{{ form.but }}</center>
                            </form>
                            <br> <!-- blank space -->
                            <!-- remove subject  form -->
                            <form method="POST" action="">
                            {{form_delete.hidden_tag()}}
                            <center>{{form_delete.subject_remove.label}}</center> 
                            
                            <center>{{form_delete.subject_remove}}</center>
                            <br> <!-- blank space -->
                            <center>{{form_delete.delbut}}</center>
                            {{msg_delete}}
                            <span id="subject_delete_display">{{form_delete.subject_remove.data}}</span>
                            <br> <!-- blank space -->
                            <br> <!-- blank space -->
                        </form>
                    </div>
                           
                            
                            <br> <!-- blank space -->
                            {{msg}} <!-- error message for subject selection -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


<script>
    // javascript code which aids in gathering the data for dropdown menus
    function updateCurrentValue() {
        var current_subject_code = document.getElementById("subject_code").value;
        var current_course_title = document.getElementById("course_title").value

        var current_subject_code_display = document.getElementById("current_subject_code");
        current_subject_code_display.innerHTML = current_subject_code;

        var current_course_title_display = document.getElementById("current_course_title");
        current_course_title_display.innerHTML = current_course_title;

        return true;
    }
</script>

<script>
// updating data on the dropdown // javascript code
var subject_code_select = document.getElementById("subject_code");
var course_title_select = document.getElementById("course_title");

subject_code_select.onchange = function() {
    var subject_code = subject_code_select.value;
    fetch('/subjectselection/' + subject_code).then(
        function(response) {
            response.json().then(
                function(data) {
                    optionHTML = "";
                    for (course_rs of data.courselist) {
                        optionHTML += '<option value="' + course_rs.id +'">' + course_rs.number + " - " + course_rs.name + '</option>'
                    }
                    course_title_select.innerHTML = optionHTML;
                }
            )
        }
    )
}
// updating the subject course & course title dropdown menus. 
course_title.onchange = function() {
    var e = subject_code_select;
    var e1 = document.getElementById("subject_code_display");
    e1.innerHTML = e.options[e.selectedIndex].text;

    var e2 = course_title_select;
    var e3 = document.getElementById("course_title_display");
    e3.innerHTML = e2.options[e2.selectedIndex].text;
}
// updating the subject deletion dropdown 
subject_remove.onchange = function(){
    var e = subject_remove;
    var e1 = document.getElementById("subject_delete_display");
    e1.innerHTML = e.options[e.selectedIndex].text;}
</script>
</body>
</html>
