<!-- Author: Jonathan Fuhrman -->
<!-- Page: home.html -->
<!-- Objective: The landing page, here the user can learn about the website, 
    the members of the team are displayed, the contact form is displayed 
    and, the user can access the login and sign up pages 
-->

<!-- Start of HTML document with language set to English -->
<!DOCTYPE html>
<html lang="en">

<!-- Head section with metadata -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Study Buddy</title> <!-- title of the page -->
    <!--links the Bootstrap CSS stylesheet from a CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!--links custom CSS stylesheet called "home.css" located in a subdirectory named "static".-->
    <link rel="stylesheet" href="static/home.css">
    <!-- Links icon box  -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!--css style, makes the navbar content white and adjust the size and font-->
    <style>    
        nav .navbar-nav li a {
            color: white !important;
            font-size: 18px;
            font-weight: 700;
        }
    </style>
    <!--end of style-->

</head>
<!--end of head-->

<!-- start of Body -->
<body>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
    </form>

    <!-- Nav Bar Section. Nav Bar will stay visable if you scroll down and it has a dark background-->
    <nav class="navbar navbar-expand-lg py-3 sticky-top bg-dark">
        <div class="container">
            <!-- Nav Bar Study Buddy Logo-->
            <a class="navbar-brand" href="{{url_for('auth.home')}}">
                <img src="{{url_for('static', filename='logo-study-buddy.png')}}", width="230" height="65">
            </a>
            <!-- Navbar toggler for small screens -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar items -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul> 
                <button class="btn ms-4">
                    <a href="{{url_for('auth.signup')}}">Sign Up</a>
                </button>
                <button class="btn ms-4">
                    <a href="{{url_for('auth.login')}}">Log In</a>
                </button>
            </div>
        </div>
    </nav>
    <!--Nav Bar End-->


    <!--Hero-->
    <div class="hero vh-100 d-flex align-items-center" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <h1 class="display-3 text-white">Studying alone? Find your Buddy Today!</h1>
                    <p class="text-white my-3">Study buddy is a new application designed to help you achieve your goals
                        during your college years. Making friends in your major is vital for a successful college
                        experience,
                        and for students that embark on this journey alone, sometimes it can be tough to find buddies in
                        their
                        classes. Study Buddy is here to help you make long lasting connections and to help make your
                        transition
                        and involvement in classes smoother.</p>
                    <button class="btn me-2">
                        <a href="{{url_for('auth.signup')}}">Get Started</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--Hero Ends Here-->

    <!--Services Start Here-->
    <section id="services">
        <div class="container">
            <div class="row mb-5">
                <div class="col md-8 mx-auto text-center">
                    <h6 class="text-warning">Services</h6>
                    <h1>Our Services</h1>
                    <p>Study Buddy is equipped with all the necessary utilities to help make your experience as
                        effortless as possible.</p>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class="bx bxs-user"></i>
                        </div>
                        <h5 class="mt-4 mb-2">Profile</h5>
                        <p>Each user will have the disposal of its own unique profile.
                            Profiles contain basic user information such as its email
                            address and phone number.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class='bx bxs-select-multiple'></i>
                        </div>
                        <h5 class="mt-4 mb-2">Subject Select</h5>
                        <p>A complete catalog of all courses offered in SU will be
                            available so each user can select the courses he/she is
                            interested in studying for.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class='bx bxs-search'></i>
                        </div>
                        <h5 class="mt-4 mb-2">Buddy Search</h5>
                        <p>This service allows users to look and select the appropriate
                            buddy for him. The subject and proficiency test factor in.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class='bx bxs-envelope'></i>
                        </div>
                        <h5 class="mt-4 mb-2">Invitation</h5>
                        <p>Users will be able to send Invitations to their selected buddy
                            and he/she will have the ability to deny or accept the request.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class='bx bxs-file-doc'></i>
                        </div>
                        <h5 class="mt-4 mb-2">Materials</h5>
                        <p>Users will be allowed to share materials such as documents, videos,
                            pictures … to selected buddies corresponding to a selected subject.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="service card-effect">
                        <div class="iconbox">
                            <i class='bx bxs-notepad'></i>
                        </div>
                        <h5 class="mt-4 mb-2">Rating</h5>
                        <p>Users will be able to leave a review and rating of their buddy after
                            each study session to track academical improvement.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--Services End Here-->

    <!--Features Start Here-->
    <section class="row w-100 py-0 bg-light" id="features">
        <div class="col-lg-6 col-img"></div>
        <div class="col-lg-6 py-5">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-10 offset-md-1">
                        <h6 class="text-warning">Why should you join Study Buddy?</h6>
                        <h1>Improve your college journey!</h1>
                        <p>Study Buddy will improve your academics, your connections and your overall involvment in
                            school.</p>


                        <div class="features d-flex">
                            <div class="iconbox me-3">
                                <i class='bx bxs-book'></i>
                            </div>
                            <div>
                                <h5>Academic</h5>
                                <p>Studying with a buddy rather than by yourself is scientifically proven to be more
                                    beneficial</p>
                            </div>
                        </div>
                        <div class="features d-flex">
                            <div class="iconbox me-3">
                                <i class='bx bxs-layer-plus'></i>
                            </div>
                            <div>
                                <h5>Connections</h5>
                                <p>Having connections in your major/classes eases your college expirience and can
                                    ultimatly make studying a better expirience</p>
                            </div>
                        </div>

                        <div class="features d-flex">
                            <div class="iconbox me-3">
                                <i class='bx bxs-upvote'></i>
                            </div>
                            <div>
                                <h5>Involvment</h5>
                                <p>improve your involvment in classess and your awareness of assignments and exams</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Features end here-->

    <!--Team Start Here-->
    <section id="team">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h6 class="text-warning">TEAM</h6>
                    <h1>Meet our Crew Members</h1>
                    <p>Our team is composed of five Syracuse University students, who helped bring this website
                        into reality with our distintive and unique talents in the computer science</p>
                </div>
            </div>
            <div class="row g-4 text-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="{{url_for('static', filename='user.png')}}" alt="user">
                        <h5 class="mb-0 mt-4">Aaron Alakkadan</h5>
                        <p>Team Leader & Back-End Team</p>
                        <div class="social-icons">
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="{{url_for('static', filename='user.png')}}" alt="user">
                        <h5 class="mb-0 mt-4">Jonathan Fuhrman</h5>
                        <p>Front-End Team</p>
                        <div class="social-icons">
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="{{url_for('static', filename='user.png')}}" alt="user">
                        <h5 class="mb-0 mt-4">Matthew Faiola</h5>
                        <p>Back-End Team</p>
                        <div class="social-icons">
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="{{url_for('static', filename='user.png')}}" alt="user">
                        <h5 class="mb-0 mt-4">Talal Hakki</h5>
                        <p>Back-End Team</p>
                        <div class="social-icons">
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="team-member card-effect">
                        <img src="{{url_for('static', filename='user.png')}}" alt="user">
                        <h5 class="mb-0 mt-4">Alec Marcus</h5>
                        <p>Front-End Team</p>
                        <div class="social-icons">
                            <a href="#"><i class="bx bxl-facebook"></i></a>
                            <a href="#"><i class="bx bxl-twitter"></i></a>
                            <a href="#"><i class="bx bxl-instagram-alt"></i></a>
                            <a href="#"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Team ends Here-->

    <!--Contact Start Here-->
    <section id="contact" class="bg-light">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto text-center">
                    <h6 class="text-warning">CONTACT</h6>
                    <H1>Get In Touch</H1>
                    <p>Have any issues? Don't worry, fill out the form below to contact us!</p>
                </div>
            </div>
            <form action="" class="row g-3 justify-content-center" method="POST">
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Full Name" name="name" required>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Enter E-mail" name="email" required>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Enter Subject" name="subject" required>
                </div>
                <div class="col-md-10">
                    <textarea name="message" id="" cols="30" rows="5" class="form-control" placeholder="Message" required></textarea>
                </div>
                <div class="col-md-10 d-grid">
                    <button type="submit" class="btn">Contact</button>
                </div>
            </form>
        </div>
    </section>
    <!--Contact Ends here-->

</body>
</html>