<!-- Author: Jonathan Fuhrman -->
<!-- Page: reset_pw_email.html -->
<!-- Objective: design and structure of the email to reset the password
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta tag for character set -->
   <meta charset="UTF-8">
    <!-- meta tag for compatibility with Internet Explorer -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- meta tag for setting the viewport -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- title tag -->
   <title>Document</title>
</head>
<!-- body tag -->
<body>
   <!-- outermost div tag with inline style -->
   <div style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',
   

   Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;width:600px;height:100%;background-color:#fafafa;padding:15px">
   <!-- inner div tag with inline style and background color -->

  <div style="background-color: #F96800;">
    <!-- <img src="{{url_for('static', filename='images/lock.png')}}" width="89" height="93" alt="lock image"/> -->
      <!-- center tag with image tag and inline style -->
    <center><img src="cid:lock" width="220" height="65" alt="sb image" /></center>
  </div>
<!-- div tag with inline style and color -->
   <div style="color:#3c3c3c;margin:10px auto;padding:15px">
    <!-- paragraph tag with inline style and text -->
     <p style="font-size:16px;font-weight:400;line-height:24px;margin:0 0 20px 0;text-align:center;color:#1b1b26">
       Hi <b>{{ first_name }} {{ last_name }}</b>, please click the link to reset your Study Buddy password. <br>If you did not issue this reset please contact support. </br>
     </p>
       <!-- div tag with inline style and margin -->
     <div style="margin:24px 193px 0px 146px">
        <!-- anchor tag with inline style, href, and button tag with inline style -->
       <a href={{url}}><button 
            type="button" style="font-size:14px;font-weight:500;border:0;background-color:#F96800;font-weight:500;
               line-height:27px;width:230px;height:49px;text-align:center;color:white;margin:10px 24px 11px 24px;
                  border-radius:4px"><span class="il">Reset</span> Password <span class="il"> </span></button></a>
     </div>
     <!-- paragraph tag with inline style, text, and anchor tag -->
       <p style="font-size:16px;font-weight:400;text-align:center;color:#1b1b26">
         Questions? <a style="color:#007fad" href="https://sustudybuddy.com/#contact" target="_blank">Contact Support</a>
       </p>
   </div>
</div>
</body>
</html>